<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/fragments/layout.html}">
<section layout:fragment="content">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">공지사항</span></h4>

    <div class="row">
        <table id="noticeTable" class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script th:inline="javascript">
        let noticeTable;

        $(function () {
            noticeTableInit();

        });

        async function noticeTableInit() {
            // totalCount
            let totalCnt = await getTotalNoticeCount();
            console.log('totalCnt: ', totalCnt)

            noticeTable = $('#noticeTable').DataTable({
                serverSide: true,
                destroy: true,
                ajax: {
                    url: '/boards/list?type=NOTICE',
                    type: 'GET',
                    dataSrc: function (res) {
                        res.recordsTotal = res.recordsFiltered = totalCnt;
                        console.log('datasrc: ', res.data);

                        return res.data;
                        // return res;
                    }
                },
                columnDefs: setNoticeTableColumnDefs(),
            });
        }

        function getTotalNoticeCount() {
            return new Promise(function (resolve) {
                $.ajax({
                    url: 'boards/total-count/notice',
                    method: 'GET',
                    success: function (res) {
                        resolve(res.data);
                    }
                })
            })
        }

        function setNoticeTableColumnDefs() {
            let noticeTableColumnDefs = [
                {
                    targets: 0,
                    width: '10px',
                    render: function(data, type, row, meta) {
                        console.log('row> ', row);

                        return meta.row + 1;
                    }
                },
                {
                    targets: 1,
                    width: '200px',
                    render: function(data, type, row, meta) {

                        return row.title;
                    }
                },
                {
                    targets: 2,
                    width: '50px',
                    render: function(data, type, row, meta) {

                        return row.createdBy;
                    }
                },
                {
                    targets: 3,
                    width: '100px',
                    render: function(data, type, row, meta) {

                        return row.createdDate;
                    }
                },
                {
                    targets: 4,
                    width: '50px',
                    render: function(data, type, row, meta) {

                        return row.viewCount;
                    }
                }
            ]

            return noticeTableColumnDefs;
        }

    </script>
</section>
</html>