<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout.html}">
<section layout:fragment="content">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">공지사항</span></h4>

    <div class="row">
        <table id="noticeTable" class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th class="text-center">제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script th:inline="javascript">
        let noticeTable;

        $(function () {
            initDataTableFeature();
            noticeTableInit();
        });

        function initDataTableFeature() {
            DataTable.feature.register('createBtn', function (settings, opts) {
                let registerBtn = document.createElement('button');
                registerBtn.innerText = '등록';
                registerBtn.id = 'registerBtn';
                registerBtn.classList.add('btn', 'btn-primary');
                registerBtn.addEventListener('click', function() {
                    location.href = '/notice-board/register';
                });

                let createDiv = document.createElement('div');
                createDiv.classList.add('c-dt-btn-container');
                createDiv.appendChild(registerBtn);

                return createDiv;
            });
        }

        async function noticeTableInit() {
            // totalCount
            let totalCnt = await getTotalNoticeCount();

            noticeTable = $('#noticeTable').DataTable({
                serverSide: true,
                destroy: true,
                layout: {
                    topStart: 'info',
                    topEnd: function () {
                        let search =
                            '<div class="search-box d-flex">' +
                                '<div class="col-9 pe-1">' +
                                    '<input id="tableSearch" class="form-control" placeholder="search">' +
                                '</div>' +
                                '<button class="btn btn-primary">검색</button>' +
                            '</div>'

                        return search;
                    },
                    bottom: ['createBtn', 'paging', 'search'],
                    bottomStart: null,
                    bottomEnd: null,
                },
                ajax: {
                    url: '/boards/list?type=NOTICE',
                    type: 'GET',
                    dataSrc: function (res) {
                        res.recordsTotal = res.recordsFiltered = totalCnt;

                        return res.data;
                    }
                },
                columnDefs: setNoticeTableColumnDefs(),
                initComplete: function (settings, json) {
                    let bottom = $('.c-dt-btn-container').parent();
                    bottom.addClass('d-flex');
                    bottom.addClass('justify-content-between');

                }
            });
        }

        function getTotalNoticeCount() {
            return new Promise(function (resolve) {
                $.ajax({
                    url: 'boards/total-count/notice',
                    method: 'GET',
                    success: function (res) {
                        resolve(res.data);
                    }
                })
            })
        }

        function setNoticeTableColumnDefs() {
            let noticeTableColumnDefs = [
                {
                    targets: 0,
                    width: '10px',
                    render: function(data, type, row, meta) {
                        console.log('row> ', row);

                        return meta.row + 1;
                    }
                },
                {
                    targets: 1,
                    width: '200px',
                    orderable: false,
                    render: function(data, type, row, meta) {

                        return row.title;
                    }
                },
                {
                    targets: 2,
                    width: '50px',
                    orderable: false,
                    render: function(data, type, row, meta) {

                        return row.createdBy;
                    }
                },
                {
                    targets: 3,
                    width: '70px',
                    render: function(data, type, row, meta) {

                        return row.createdDate;
                    }
                },
                {
                    targets: 4,
                    width: '50px',
                    render: function(data, type, row, meta) {

                        return row.viewCount;
                    }
                }
            ]

            return noticeTableColumnDefs;
        }

    </script>
</section>
</html>