<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <aside th:fragment="f-left" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo">
            <a href="#" class="app-brand-link">
                <span>WTF2</span>
            </a>
            <span href="#" class="layout-menu-toggle d-xl-none"></span>
        </div>
        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
            <!-- Dashboard -->
<!--            <li class="menu-item active">-->
            <li class="menu-item">
                <a href="/" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Analytics">Dashboard</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                    <div data-i18n="Board">게시판</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="/notice-board" class="menu-link">
                            <div data-i18n="notice">공지사항</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="/organization" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-user"></i>
                    <div data-i18n="User">조직도</div>
                </a>
            </li>
        </ul>

    </aside>
</html>