<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="f-left" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/" class="app-brand-link">
            <span>WTF2</span>
        </a>
        <span href="#" class="layout-menu-toggle d-xl-none"></span>
    </div>
    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
<!--            <li class="menu-item active">-->
        <li class="menu-item">
            <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/notice-board" class="menu-link">
                <i class="menu-icon bx bxs-dashboard"></i>
                <div data-i18n="Analytics">공지사항</div>
            </a>
        </li>

        <!-- custom -->
        <div id="menuHeader" class="menu-header small text-uppercase not-draggable pe-3">
            <div role="standard" class="d-flex justify-content-between">
                <span role="button" class="menu-header-text">Pages</span>
                <div><i role="button" class='bx bx-plus' onclick="addSubPageBlock()"></i></div>
            </div>
            <div class="item-group d-none" th:unless="${#lists.isEmpty(pages)}">
                <div th:each="page : ${pages}" class="menu-item">
                    <a role="page" th:href="@{/notice-board/details/{id}(id=${page.id})}" href="/" class="menu-link justify-content-between p-0 pt-1"
                       onmouseover="itemMouseOver(this)" onmouseout="itemMouseOut(this)">
                        <div class="i-container"><i class="menu-icon tf-icons bx bx-cube-alt" th:onclick="'dropDownToggle(this, ' + ${page.id} + ')'"></i></div>
                        <div th:text="${page.title}">ROOT</div>
                        <div class="ms-auto">
                            <i role="button" class="bx bx-trash-alt"></i>
                            <i role="button" th:id="${'btn' + page.id}" class="bx bx-plus" th:onclick="'addSubPageBlock(' + ${page.id} + ', event)'"></i>
                        </div>
                    </a>
                    <div class="item-group d-none"></div>
                </div>
            </div>
        </div>


        <!--     origin       -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Board">게시판</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/" class="menu-link">
                        <div data-i18n="notice">item</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="/organization" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-user"></i>
                <div data-i18n="User">조직도</div>
            </a>
        </li>
    </ul>

    <script th:inline="javascript">
        $(function() {
            console.log('left layout init');

            initWorkSpaceTree();
        });

        function initWorkSpaceTree() {
            // menu layout
            $('#menuHeader .menu-header-text').click(function() {
                $(this).parent('div[role="standard"]').siblings('.item-group').toggleClass('d-none');
            });

            $('#menuHeader').find('a.menu-link').click(e => changeDefaultListener(e, e.currentTarget));
        }

        function addSubPageBlock(id, e) {
            // e.preventDefault();
            // e.stopPropagation();

            let subItemGroup = $('#btn' + id).closest('a[role="page"]').next('.item-group');
            if(subItemGroup.hasClass('d-none')) subItemGroup.removeClass('d-none');

            let subPageId = postSubPage(id);

            console.log('sub ', subPageId);

            let pageBlock =
                '<div class="menu-item">' +
                    '<a role="page" href="/notice-board/details/' + subPageId + '" class="menu-link justify-content-between p-0 pt-1"' +
                    'onmouseover="itemMouseOver(this)" onmouseout="itemMouseOut(this)">' +
                        '<div class="i-container">' +
                            '<i class="menu-icon tf-icon bx bx-cube-alt" onclick="dropDownToggle(this, ' + subPageId + ')"></i>' +
                        '</div>' +
                        '<div>제목없음</div>' +
                        '<div class="ms-auto">' +
                            '<i role="button" class="bx bx-trash-alt"></i>' +
                            '<i role="button" id="btn' + subPageId + '" class="bx bx-plus" onclick="addSubPageBlock(' + subPageId + ', event)"></i>' +
                        '</div>' +
                    '</a>' +
                    '<div class="item-group d-none"></div>' +
                '</div>';

            subItemGroup.append(pageBlock);
            subItemGroup.find('a.menu-link').click(e => changeDefaultListener(e, e.currentTarget));
        }

        function changeDefaultListener(e, aTag) {
            e.preventDefault();

            // let isEmpty = $('#pageContext').empty();
            // console.log('isEmpty> ', isEmpty);

            console.log('href> ', $(aTag).prop('href'));
            $('#pageContext').load($(aTag).prop('href'));

            // // URL 변경 (페이지 새로고침 없이)
            // history.pushState(null, '', $(aTag).prop('href'));
        }

        function postSubPage(parentId) {
            let subPageId = -1;

            $.ajax({
                url: '/boards/page',
                method: 'POST',
                data: {'parentId': parentId},
                async: false,
                success: function(res) {
                    subPageId = res.data;
                }
            });

            return subPageId;
        }

        function itemMouseOver(gElement) {
            let iTag = $(gElement).find('.i-container i').first();
            iTag.removeClass('bx-cube-alt');
            if (iTag.hasClass('active')) iTag.addClass('bxs-chevron-down');
            else iTag.addClass('bx-chevron-right');
        }

        function itemMouseOut(gElement) {
            let iTag = $(gElement).find('.i-container i').first();
            iTag.removeClass('bx-chevron-right bxs-chevron-down');
            iTag.addClass('bx-cube-alt');
        }

        function dropDownToggle(iElement, id) {
            $(iElement).toggleClass('active bx-chevron-right bxs-chevron-down');

            // dropdown - 열기
            if ($(iElement).hasClass('bxs-chevron-down')) {
                let subItems = getSubItems(id);

                // TODO : length가 0일 때 공간 띄우기
                if (subItems.length == 0) console.log('length is 0');

                let pageBlocks = '';
                subItems.forEach(e => {
                    pageBlocks += getPageBlock(e);
                })

                let itemGroup = $(iElement).closest('a[role="page"]').next('.item-group');
                itemGroup.removeClass('d-none');
                itemGroup.append(pageBlocks);
                itemGroup.find('a.menu-link').click(e => changeDefaultListener(e, e.currentTarget));

            }
            // dropdown - 닫기
            else {
                $(iElement).closest('a[role="page"]').next('.item-group').addClass('d-none');
                $(iElement).closest('a[role="page"]').next('.item-group').empty();
            }
        }

        function getPageBlock(page) {

            let pageBlock =

                '<div class="menu-item">' +
                    '<a role="page" href="/notice-board/details/' + page.id + '" class="menu-link justify-content-between p-0 pt-1"' +
                        'onmouseover="itemMouseOver(this)" onmouseout="itemMouseOut(this)">' +
                            '<div class="i-container">' +
                                '<i class="menu-icon tf-icon bx bx-cube-alt" onclick="dropDownToggle(this, ' + page.id + ')"></i>' +
                            '</div>' +
                            '<div>' + page.title + '</div>' +
                            '<div class="ms-auto">' +
                                '<i role="button" class="bx bx-trash-alt"></i>' +
                                '<i role="button" id="btn' + page.id + '" class="bx bx-plus" onclick="addSubPageBlock(' + page.id + ', event)"></i>' +
                            '</div>' +
                        '</a>' +
                    '<div class="item-group d-none"></div>' +
                '</div>';

            return pageBlock;
        }

        function getSubItems(id) {
            let subItems;

            $.ajax({
                url: '/boards/page/' + id + '/sub-items',
                method: 'GET',
                async: false,
                success: function (res) {
                    subItems = res.data;
                }
            })

            return subItems;
        }

    </script>
</aside>
</html>
