<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    class="light-style customizer-hide"
    dir="ltr"
    data-theme="theme-default"
    data-template="vertical-menu-template-free"
    data-assets-path="/modules/sneat/assets/"
>
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    >
    <title>WTF2</title>
    <link rel="stylesheet" href="/css/custom.css">

    <script src="/modules/jquery-3.7.0/jquery-3.7.0.min.js"></script>
    <script src="/modules/datatables/datatables.min.js"></script>

    <link rel="stylesheet" href="/modules/sneat/assets/vendor/fonts/boxicons.css">
    <link rel="stylesheet" href="/modules/sneat/assets/vendor/css/core.css" class="template-customizer-core-css">
    <link rel="stylesheet" href="/modules/sneat/assets/vendor/css/theme-default.css" class="template-customizer-theme-css">
    <link rel="stylesheet" href="/modules/sneat/assets/css/demo.css">
    <link rel="stylesheet" href="/modules/datatables/datatables.min.css">

    <link rel="stylesheet" href="/modules/sneat/assets/vendor/css/pages/page-auth.css">
    <link rel="stylesheet" href="/modules/bootstrap-5.3.3-dist/css/bootstrap.min.css">
</head>
<body>
    <div class="content-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y>">
            <div class="authentication-inner" style="max-width: 650px !important;">
                <div class="card">
                    <div id="optionContainer" class="card-body">
                        <div class="text-center">
                            <h4 class="mb-2">WTF2</h4>
                            <p class="mb-4">Work together finish faster!</p>
                        </div>
                        <div class="py-5 option-choice">
                            <div class="row">
                                <div class="col-9 d-flex align-items-center">
                                    <i class='bx bx-folder-plus'></i>
                                    <span class="ms-2">새로운 그룹을 생성하세요</span>
                                </div>
                                <div class="col-3 text-center">
                                    <button id="createGroupBtn" class="btn btn-primary">그룹 생성</button>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-9 d-flex align-items-center">
                                    <i class='bx bx-envelope'></i>
                                    <span class="ms-2">기존 그룹에 대한 참여코드가 있나요?</span>
                                </div>
                                <div class="col-3 text-center">
                                    <button class="btn btn-primary">코드 입력</button>
                                </div>
                            </div>
                        </div>
                        <div class="py-5 group-creation d-none">
                            <form id="groupCreationForm" method="post" action="/groups/registration">
                                <div>
                                    <span>회사 또는 팀의 이름입니다. 그룹의 이름을 입력해주세요</span>
                                </div>
                                <div class="row">
                                    <input type="text" name="groupName" class="col-9 form-control">
                                    <button type="submit" class="col-3 btn btn-secondary">생성</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [code] search registered Group Modal -->
    <div class="modal fade" id="registeredCompanyModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">기존에 등록된 기업 찾기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" name="companyName" class="form-control" placeholder="예)회사명" />
                        <span id="searchRegistered" class="input-group-text cursor-pointer">
                            <i class='bx bx-search'></i>
                        </span>
                    </div>
<!--                    <div class="table-responsive text-nowrap my-4 py-3">-->
<!--                        <table id="registeredCompanyListTable" class="table">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th>No</th>-->
<!--                                <th>Company</th>-->
<!--                                <th>대표</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody class="table-border-bottom-0"></tbody>-->
<!--                        </table>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <script src="/modules/sneat/assets/vendor/js/bootstrap.js"></script>
    <script th:inline="javascript">

        $(function () {
            initSetting();
        });

        function initSetting() {
            $('#createGroupBtn').on('click', function() {
                $('#optionContainer .option-choice').addClass('d-none');
                $('#optionContainer .group-creation').removeClass('d-none');
            });


            // TODO: function related with Modal for searching with group code
            // Modal screen
            $('#registerModal').on('shown.bs.modal', function() {
                $('#registerModal input[name=userName]').focus();
            });
        }
    </script>
</body>
</html>