<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    class="light-style customizer-hide"
    dir="ltr"
    data-theme="theme-default"
    data-template="vertical-menu-template-free"
    data-assets-path="/modules/sneat/assets/"
>
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    >
    <title>WTF2</title>
    <link rel="stylesheet" href="/css/custom.css">

    <script src="/modules/jquery-3.7.0/jquery-3.7.0.min.js"></script>
    <script src="/modules/datatables/datatables.min.js"></script>

    <link rel="stylesheet" href="/modules/sneat/assets/vendor/fonts/boxicons.css">
    <link rel="stylesheet" href="/modules/sneat/assets/vendor/css/core.css" class="template-customizer-core-css">
    <link rel="stylesheet" href="/modules/sneat/assets/vendor/css/theme-default.css" class="template-customizer-theme-css">
    <link rel="stylesheet" href="/modules/sneat/assets/css/demo.css">
    <link rel="stylesheet" href="/modules/datatables/datatables.min.css">

    <link rel="stylesheet" href="/modules/sneat/assets/vendor/css/pages/page-auth.css">
    <link rel="stylesheet" href="/modules/bootstrap-5.3.3-dist/css/bootstrap.min.css">
</head>
<body>
    <div class="content-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y>">
            <div class="authentication-inner">
                <div class="card">
                    <div class="card-body">

                        <h4 class="mb-2">LOGIN</h4>
                        <p class="mb-4">Start with your account</p>

                        <form id="loginForm" class="mb-3" method="post" action="/login">
                            <div class="mb-3">
                                <label for="loginId" class="form-label">로그인아이디 (e-mail)</label>
                                <input
                                        type="text"
                                        id="loginId"
                                        name="loginId"
                                        class="form-control"
                                        placeholder="Enter your email for login (xxxxx@xxx.xx)"
                                />

                                <div class="mb-3 form-password-toggle">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" for="password">Password</label>
                                    </div>
                                    <div class="input-group input-group-merge">
                                        <input
                                                type="password"
                                                id="password"
                                                class="form-control"
                                                name="password"
                                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                aria-describedby="password"
                                        />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me" />
                                    <label class="form-check-label" for="remember-me"> Remember Me </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                            </div>
                        </form>

                        <p class="text-center">
                            <span>처음이신가요?</span>
                            <a href="" data-bs-toggle="modal" data-bs-target="#registerModal">
                                <span>계정 새로 생성하기</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">계정 생성하기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ask-question mb-4">
                    <div class="row">
                        <p>기존에 등록한 고객이신가요?</p>
                    </div>
                    <div class="row">
                        <div class="col-6 text-end">
                            <button id="newCompanyBtn" class="btn btn-primary btn-join">신규 기업</button>
                        </div>
                        <div class="col-6 text-start">
                            <button id="presentCompanyBtn" class="btn btn-gray btn-join">기존 기업</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body register-company d-none">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="companyName" class="form-label">회사명</label>
                            <input type="text" id="companyName" name="companyName" class="form-control" autocomplete="off"
                                   data-bs-toggle="modal" data-bs-target="#searchModal"
                                   placeholder="회사명을 검색하세요." />
                        </div>
                    </div>
                </div>
                <div class="modal-body register-user d-none">
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label for="registeredCompany" class="form-label">등록된 법인명</label>
                            <input type="text" id="registeredCompany" name="companyName" class="form-control" />
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label for="userName" class="form-label">사용자 이름</label>
                            <input type="text" id="userName" name="userName" class="form-control" />
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label for="email" class="form-label">e-mail (로그인 정보)</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="xxxx@xxx.xx" />
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label for="registerPassword" class="form-label">비밀번호</label>
                            <input type="password" id="registerPassword" name="password" class="form-control"/>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label for="registerPassword2" class="form-label">비밀번호 확인</label>
                            <input type="password" id="registerPassword2" name="re-password" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-none">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
                    <button id="registerBtn" type="button" class="btn btn-primary">등록하기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- search Company Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">기업 검색하기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" name="companyName" class="form-control" placeholder="예)회사명" />
                        <span id="searchCompany" class="input-group-text cursor-pointer">
                            <i class='bx bx-search'></i>
                        </span>
                    </div>
                    <div class="table-responsive text-nowrap my-4 py-3">
                        <table id="companyListTable" class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Company</th>
                                    <th>대표</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- search registered Company Modal -->
    <div class="modal fade" id="registeredCompanyModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">기존에 등록된 기업 찾기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" name="companyName" class="form-control" placeholder="예)회사명" />
                        <span id="searchRegistered" class="input-group-text cursor-pointer">
                            <i class='bx bx-search'></i>
                        </span>
                    </div>
                    <div class="table-responsive text-nowrap my-4 py-3">
                        <table id="registeredCompanyListTable" class="table">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Company</th>
                                <th>대표</th>
                            </tr>
                            </thead>
                            <tbody class="table-border-bottom-0"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/modules/sneat/assets/vendor/js/bootstrap.js"></script>
    <script th:inline="javascript">
    let companyListTable;
    let registeredCompanyListTable;

        $(function () {
            initModalSetting();
        });

        function initModalSetting() {
            // Modal screen
            $('#newCompanyBtn').click(function() {
                $('#registerModal .register-company').removeClass('d-none');
                $('#registerModal .modal-footer').removeClass('d-none');
                $('#registerModal .ask-question').addClass('d-none');
            });

            $('#presentCompanyBtn').click(function() {
                $('#registerModal .register-user').removeClass('d-none');
                $('#registerModal .modal-footer').removeClass('d-none');
                $('#registerModal .ask-question').addClass('d-none');
            });

            $('#registerModal').on('hidden.bs.modal', function(){
                $('#registerModal .ask-question').removeClass('d-none');
                $('#registerModal .register-company').addClass('d-none');
                $('#registerModal .register-user').addClass('d-none');
            });

            $('#searchModal').on('shown.bs.modal', function() {
                $('#searchModal input[name=companyName]').focus();
            });

            // TODO: searchModal - 조회 회사 정보 최신화, 조회시 검색조건 없애기
            $('#searchCompany').click(function() {
                let name = $('#searchModal input[name=companyName]').val();
                console.log('name: ', name);

                companyListTable = $('#companyListTable').dataTable({
                    serverSide: true,
                    destroy: true,
                    ajax: {
                        url: '/companies/search?name=' + name,
                        type: 'GET',
                        dataSrc: function(res) {
                            //console.log('response> ', res);

                            return res.data;
                        }
                    },
                    columnDefs: setCompanyListColumnDefs(),
                });
            });

            $('#registerBtn').click(function() {
                let url = '';
                let params = {};

                // URL & parameter setup
                if($('#registerModal .modal-body:not(.d-none)').hasClass('register-company')) {
                    url = '/companies/registration';
                    params.companyName = $('#companyName').val();
                    params.guid = $('#companyName').data('guid');
                    params.ceo = $('#companyName').data('ceo');

                } else {
                    url = '/users/registration';
                    params.companyId = $('#registeredCompany').data('id');
                    params.userName = $('#userName').val();
                    params.email = $('#email').val();
                    // 암호화 처리해서 보내기
                    params.password = $('#registerPassword').val();
                }

                $.ajax({
                    url: url,
                    method: 'POST',
                    data: params,
                    success: function(res) {
                        console.log(res);

                        if (res.result == 'SUCCESS') {
                            // 법인 등록
                            if (url.indexOf('companies') != -1) {
                                $('#registerModal .register-user').removeClass('d-none');
                                $('#registerModal .ask-question').addClass('d-none');
                                $('#registerModal .register-company').addClass('d-none');
                                $('#registeredCompany').data('id', res.data); // 고객사 id 설정

                                $('#registeredCompany').val(params.companyName);
                            }
                            // 신규 사용자 등록
                            else {

                            }
                        }
                    },
                    error: function(e) {
                        console.log(e)
                    }
                });
            });

            $('#searchRegistered').click(function() {
                let name = $('#registeredCompanyModal input[name=companyName]').val();
                console.log('registered name: ', name);

                registeredCompanyListTable = $('#registeredCompanyListTable').dataTable({
                    serverSide: true,
                    destroy: true,
                    ajax: {
                        url: '/companies/search?name=' + name + '&isRegistered=true',
                        type: 'GET',
                        dataSrc: function(res) {
                            // console.log('response> ', res);

                            return res.data;
                        }
                    },
                    columnDefs: setRegisteredCompanyListColumnDefs(),
                });
            });
        }

        function setCompanyListColumnDefs() {
            let companyListColumnDefs = [
                {
                    targets: 0,
                    className: '',
                    width: '10px',
                    orderable: false,
                    render: function(data, type, row, meta) {
                        // console.log(row);

                        return meta.row + 1;
                    }
                },
                {
                    targets: 1,
                    className: 'a b',
                    width: '20px',
                    orderable: false,
                    render: function(data, type, row) {
                        // console.log(row);
                        console.log(JSON.stringify(row));

                        return '<span role="button" onclick="chooseCompany(\'' + row.corpNm + '\', \'' + row.crno + '\', \'' + row.enpRprFnm + '\')">' + row.corpNm + '</span>';
                    }
                },
                {
                    targets: 2,
                    className: '',
                    width: '10px',
                    orderable: false,
                    render: function(data, type, row) {

                        return row.enpRprFnm;
                    }
                }
            ];

            return companyListColumnDefs;
        }

        function chooseCompany(chosenCompanyName, crno, ceo) {

            $('#companyName').val(chosenCompanyName);
            $('#companyName').data('guid', crno);
            $('#companyName').data('ceo', ceo);
            $('#searchModal').modal('hide');

            $('#registerModal .register-company').removeClass('d-none');
            $('#registerModal .ask-question').addClass('d-none');
            $('#registerModal').modal('show');
        }

        function setRegisteredCompanyListColumnDefs() {
            let registeredListColumnDefs = [
                {
                    targets: 0,
                    className: '',
                    width: '10px',
                    orderable: false,
                    render: function(data, type, row, meta) {
                        console.log(row);

                        return meta.row + 1;
                    }
                },
                {
                    targets: 1,
                    className: 'a b',
                    width: '20px',
                    orderable: false,
                    render: function(data, type, row) {


                        //return '<span role="button" onclick="chooseCompany(\'' + row.corpNm + '\', \'' + row.crno + '\')">' + row.corpNm + '</span>';
                        return '2'
                    }
                },
                {
                    targets: 2,
                    className: '',
                    width: '10px',
                    orderable: false,
                    render: function(data, type, row) {

                        // return row.enpRprFnm;
                        return '3'
                    }
                }
            ];

            return registeredListColumnDefs;
        }

    </script>
</body>
</html>